/* reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}a,a:visited{color:inherit;text-decoration:none}

/* clearfix */
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}.clearfix{display:inline-block;}html[xmlns] .clearfix{display:block;}* html .clearfix{height:1%;}div.clearfix{display:block;}

/* main */
html, body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}


/* typography */
@font-face {
      font-family: "DIN-Bold";
      src: url(DIN-Bold.ttf);
}
@font-face {
      font-family: "DIN-Reg";
      src: url(DIN-Reg.ttf);
}
.DIN-bold { font-family: "DIN-Bold", sans-serif }
.DIN-reg { font-family: "DIN-Regular", sans-serif }

body {
    background: #F5F4EB;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    color: #000;
}

.ui-impr {
    text-shadow: 0 -1px 1px #000;
}
.ui-pop {
    text-shadow: 0 1px 1px #000;
}

/*
h1 {
    margin: 10px 0;
    color: #fff;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: -3px;
    -webkit-text-stroke: #999 2px;
}
*/

h3 {
    margin: 0 0 10px -10px;
    padding: 4px 10px;
    /* border-bottom: 1px solid #999; */
    background: #B5D29C;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-shadow: 0 -1px 1px #5e8e33;
}

a {
	color: #e4542e;
	font-weight: bold;
}
#table a:hover {
	text-decoration: underline;
}
a:visited {
	color: #e4542e;
}

/* buttons */

.ui-button {
    float: left;
    padding: 0 6px;
    border: none;
    background: #e4532d;
    border-radius: 3px;
    font-size: 11px;
    line-height: 25px;
    color: #fff;
    font-weight: bold;
    /* text-shadow: 0 -1px 1px #e29700; */
    cursor: pointer;
    text-transform: uppercase;
}
.ui-button:hover {
    opacity: 0.8;
}
.ui-button:active {
	opacity: 1;
    background: #d4431d;
}

.ui-button-add span {

}

/* Update to BL URLs at launch on BL namespace */

#header {
  position: relative;
  height: 40px;
  background: #5ec5e2;
}
	#header h1 {
		float: left;
	}

#nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

    #nav li {
    }
    
    #nav a {
        float: right;
        margin: 12px 25px 0 0;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
    }

#page {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}
    #subpage {
        position: relative;
        z-index: 2;
        outline: 1px solid #ccc;
        background: #fff;
        overflow: hidden;
    }

#rail {
    position: relative;
    z-index: 2;
    float: right;
    width: 275px;
    padding: 10px;
    background: #eee;
}
#page.page-wide #rail {
	width: 0px;
	padding: 0 0 0 5px;
	border-left: 2px solid #ddd;
}
	#rail > div {
		border-bottom: 1px solid #ddd;
	}
	#rail > div.last {
		border: none;
	}
	
	.rail-show {
		display: none;
		position: absolute;
		left: -22px;
		top: 10px;
		width: 16px;
		border-radius: 5px 0 0 5px;
		border: solid #ddd;
		border-width: 2px 0 2px 2px;
		padding: 5px 2px;
		font-size: 30px;
		background-color: inherit;
		color: #666;
		cursor: pointer;
	}
	#page.page-wide .rail-show {
		display: block;
	}
	.rail-hide {
		padding-bottom: 2px;
		color: #666;
		cursor: pointer;
	}
	
	.rail-options {
		padding: 2px 0;
	}
	.rail-option {
		float: left;
		height: 30px;
		border-right: 1px solid #ddd;
		cursor: pointer;
	}
	.rail-option.last {
		border: none;
	}
	.rail-option img {
		margin: 5px 20px;
	}
	
	.rail-guide {
		padding: 28px 0 28px 80px;
		background: url(img/myguidemap.png) 0 center no-repeat;
	}
		.rail-guide-title {
			font-size: 18px;
			text-transform: uppercase;
		}
	.rail-guide-add-box {
		padding: 0 0 15px 0;
		line-height: 22px;
		font-weight: bold;
	}
	.rail-guide-add-box .ui-text-input {
		float: left;
		margin-right: 10px;
		padding: 0 7px;
		width: 166px;
		line-height: 25px;
		border: 1px solid;
		border-color: #ddd #eee #eee #ccc;
		font-style: italic;
		font-weight: normal;
		color: #808080;
	}
	.rail-guide-add-box .ui-text-input.ui-on {
		color: #000;
		font-style: normal;
	}
	.rail-guide-empty {
		padding: 15px 30px;
		font-weight: bold;
		color: #333;
	}
	.rail-guide-entry {
		background: #fff;
		border: 2px solid #ddd;
		border-radius: 10px;
		padding: 15px 15px 20px;
		margin-top: 10px;
	}
		.rail-guide-entry-x {
			float: right;
			cursor: pointer;
		}
		.rail-guide-entry > div {
			margin-bottom: 5px;
		}
	
    #about {
        margin-top: 10px;
        padding-top: 10px;
        color: #666;
    }
        #about ul {
            padding-top: 10px;
            list-style-type: square;
            margin-left: 15px;
        }
        #about li {
            list-style: square;
        }

#content {
    float: left;
    width: 705px;
    padding: 0;
}
.page-wide #content {
	width: 993px;
}
	#filters {
    }
    #filters-main {
    	height: 36px;
    	padding: 12px 40px;
    	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    }
    	.filters-field {
    		float: left;
    		margin-right: 10px;
    		padding: 12px 7px;
    		width: 240px;
    		border: 1px solid;
    		border-color: #ddd #eee #eee #ccc;
    	}
    	.filters-label {
    		float: left;
    		margin-right: 7px;
    		font-weight: bold;
    		font-size: 10px;
    		text-transform: uppercase;
    	}
    	#filters .ui-text-input {
    		border: none;
    		float: left;
    		padding: 0;
    		width: 160px;
    		font-style: italic;
			color: #808080;
    		outline: none;
		}
		#filters .ui-text-input.ui-on {
			font-style: normal;
			color: #000;
		}
		#filters input[type=submit] {
			float: left;
			border: none;
			height: 16px;
			width: 16px;
		}
		.filters-search input[type=submit] {
			background: url(img/searchkeyword.png) no-repeat;
		}
		.filters-location input[type=submit] {
			background: url(img/searchlocation.png) no-repeat;
		}
		
		.filters-toggle {
			float: right;
			margin-top: 12px;
			padding-right: 20px;
			cursor: pointer;
			background: url(img/filterarrow.png) right center no-repeat;
		}
		.filters-toggle.ui-off {
			background-image: url(img/filterarrowhide.png);
		}
    
    #cats {
        padding: 0 40px 10px;
        font-size: 10px;
    }
    	.cats-header {
    		margin: 10px 0;
    		text-transform: uppercase;
    		font-weight: bold;
    	}
    	#cats .cat-all {
    		float: left;
    		width: 50px;
    	}
        #cats .cat {
            padding: 0 10px 7px 0;
            color: #e4542e;
            cursor: pointer;
           	vertical-align: top;
           	font-family: "DIN-Regular", sans-serif;
        }
        #cats .cat-box {
        	float: left;
        	height: 16px;
        	width: 16px;
        	margin-right: 10px;
        	border: 1px solid #eee;
        	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
        }
        #cats .cat.on .cat-box {
     		background: #ddd;
        }
        
    #map {
      width: 100%;
      height: 250px;
    }
    #directions-map {
      width: 100%;
      height: 250px;
    }
    .table-outer {
    	padding: 0 40px;
    }
    .table-header {
    	padding: 15px 5px;
    	font-size: 21px;
    	border-bottom: 2px solid #eee;
    	text-transform: uppercase;
    }

    #table .row {
    	position: relative;
    	margin: 15px 5px 0;
    	padding-bottom: 15px; 
    	border-bottom: 2px solid #eee;
    }
    
    #table .row:nth-child(2n+1) {
    }
    
    #table .row .ui-button {
    	position: absolute;
    	right: 0;
    }
    .table-img {
    	float: left;
    	margin-right: 10px;
    	width: 160px;
    	height: 120px;
    }
    .table-cells {
    	float: left;
    	width: 340px;
    }
    
    #table .cell {
    	padding: 0 0 5px;
    }
	    .table-name {
	    	font-size: 18px;
	    	text-transform: uppercase;
	    }
	    .table-services {
	    	color: #666;
	    	font-style: italic;
	    }
	    .table-toggle {
	    	color: #666;
	    	cursor: pointer;
	    }
	    .table-more {
	    	color: #666;
	    	margin-top: 15px;
	    	padding: 15px 0 15px 170px;
	    	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3) inset;
	    }
    
    #table .info {
    	display: none;
    	position: absolute;
    	z-index: 3;
    	left: 210px;
    	width: 400px;
    	border: 1px solid #666;
    	background: #fff;
    	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
    #table .directions {
    	width: 70px;
    }
    #table .directions-menu {
      display: none;
    	position:absolute;
    	z-index: 3;
    	top:-150px;
    	right: 0px;
    	width: 250px;
    	height: 140px;
    	border: 1px solid #666;
    	background: #fff;
    	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
    }
    #table .invisible {
      display: none;
    }