/* reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* clearfix */
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}.clearfix{display:inline-block;}html[xmlns] .clearfix{display:block;}* html .clearfix{height:1%;}div.clearfix{display:block;}

/* main */
html {
  background-color:#CCCCCC;
  width:auto;
  height:auto;
}

.hover {
  background-color:#FF00FF;
  color:#FFFFFF;
  cursor:pointer
}

h1 {
  color:#FF00FF;
  font-weight: bold;
  font-size: 3em;
}

h3 {
  padding: 10px;
  text-align:center;
  font-weight: bold;
}

form {
  padding-bottom:10px;
}

/* Update to BL URLs at launch on BL namespace */
@font-face {
      font-family: "DIN-Bold";
      src: url("DIN-Bold.ttf");
    }
@font-face {
      font-family: "DIN-Reg";
      src: url("DIN-Reg.ttf");
}
.DIN-Bold { font-family: "DIN-Bold", serif }
.DIN-Reg { font-family: "DIN-Reg", serif }

#header {
  margin: 0 auto;
  position: relative;
  width: 1000px;
  border: 2px solid gray;
}

ul#nav {
width:624px;
border: 2px solid gray;
list-style-type:none;
margin-left:auto;
margin-right:auto;
padding:0;
overflow:hidden;
}

ul#nav li {
  float:left;
}

ul#nav li a:link,a:visited {
  display:block;
  width:200px;
  padding:4px;
  font-weight:bold;
  color:#FFFFFF;
  background-color:#FFCC66;
  text-align:center;
  text-decoration:none;
}

ul#nav li a:hover {
  background-color:#CC9933;
}

#page {
    margin: 0 auto;
    width: 1000px;
    position: relative;
}

#rail {
    width: 300px;
    border: 2px solid gray;
    float:left;
}

#filters {
  border: 2px solid gray;
}

#about {
  border: 2px solid gray;
}

#about ul {
  padding-top:10px;
  list-style-type: disc;
  padding-left:5px;
}

#content {
    float:left;
    width: 680px;
    border: 2px solid gray;
}

#map {
  width:680px;
  height:250px;
}