.static {
  margin-top:50px;
  margin-left:150px;
  color: #999999;
  font-size: 16px;
  width:600px;
}

.static h2 {
  font-family: "DIN-Regular", sans-serif;
  font-size: 24px;
  margin-bottom: 7px;
  color:black;
}

.static h4 {
  font-family: "DIN-Bold", sans-serif;
  margin-bottom:20px;
  color:black;
}
